<launch>
       <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk">
		<!-- node parameters -->
		<param name="serial_name" type="string" value="/dev/ttyTHS1"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="1026816"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
		<param name="enc_key" type="string" value="ca7c1b43a570ca1be98f1867840029b5def7fe7082372d8063fb4808f2331028"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>
	<node pkg="dji_sdk_read_cam" type="dji_sdk_read_cam" name="dji_sdk_read_cam" output="screen">
		<!-- node parameters -->
		<param name="gray_or_rgb" type="int" value="0"/>
		<param name="to_mobile" type="int" value="1"/>

	</node>

	<node pkg="dji_sdk_demo_mine" type="dji_sdk_client_mine" name="dji_sdk_client_mine"  output="screen">
		<param name="delayCount" type="int" value="20"/>
		<param name="descendingSpeed"  value="0.005"/>
		<param name="initFlightHeight" value="6.0"/>
		
	</node>

<node name="controller" pkg="pid" type="controller" ns="left_wheel"  >
      <param name="node_name" value="left_wheel_pid" />
      <param name="Kp" value="-1.5" />
      <param name="Ki" value="-0.0" />
      <param name="Kd" value="-0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="diagnostic_period" value="0.25" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <param name="type" value="1" />
      <remap from="control_effort" to="controller_y" />
      <remap from="state" to="/apriltag_detection/reldist" />
      <remap from="setpoint" to="/setpoint" />
     </node>



    <node name="controller" pkg="pid" type="controller" ns="right_wheel" >
      <param name="node_name" value="right_wheel_pid" />
      <param name="Kp" value="-1.5" />
      <param name="Ki" value="-0.0" />
      <param name="Kd" value="-0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="diagnostic_period" value="0.25" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <param name="type" value="2"/>
      <remap from="control_effort" to="controller_z" />
      <remap from="state" to="/apriltag_detection/reldist" />
      <remap from="setpoint" to="/setpoint" />
     </node>



    <node name="setpoint_node" pkg="pid" type="setpoint_node"  />





</launch>
